@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.welcome {
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/welcome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.main-back {
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
    background-position: center;
}

.main-back-log {
    background-image: url('../../public/img/backgroundLog.jpg');
    background-size: cover;
    background-position: center;
}

.main-back-sign {
    background-image: url('../../public/img/backgroundSign.jpg');    background-size: cover;
    background-position: center;
}

.shadows {
    text-shadow: 0 0 1px white, 0 0 10px white, 0px 0px 10px white;
}

.violetShadows {
    color: rgb(165, 126, 196);
    text-shadow: 0 0 1px white, 0 0 10px white, 0px 0px 10px white;
}

.fredokaFont {
    font-family: 'Fredoka', sans-serif !important;
}

.festiveFont {
    font-family: 'Festive', cursive !important;
}

.linksHero {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(165, 126, 196);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px white;
}
.linksHero:active {
    transform: translateY(4px);
}

.linkWelcome {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 15px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(165, 126, 196);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px white;
}

.like {
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(0, 73, 48);
    border: none;
    border-radius: 15px;
}
.like:hover {
    background-color: rgb(107, 176, 145);
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 1;
}

.fitImg {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.bigAnounce {
    font-size: 50px !important
}

.css-1m9128y {
    display: none;
}

.myInput {
    padding: 2px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border: 0 solid rgb(196, 165, 126);
    border-radius: 0 50px 50px 0;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}

.myInput.focus {
    margin: 0;
}

.myButton {
    flex-grow: 1;
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(165, 126, 196);
    border: none;
    border-radius: 15px;
}
.myButton:active {
    transform: translateY(4px);
}

.myButtons {
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(196, 165, 126);
    border: none;
    border-radius: 15px;
}
.myButtons:active {
    transform: translateY(4px);
}

.anchor {
    display: flex;
    flex-grow: 1 !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    margin: 0 5px !important;
}

.myInputforComment {
    flex-grow: 1;
    padding: 4px;
    resize: none;
}

.w100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .wrapCarousel {
        flex-wrap: wrap !important;
        width: 85vw !important;
        height: 17vh !important;
        font-size: 45px !important;
    }
    .footer {
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 500px) {
    .title {
        font-size: 50px !important;
    }
    .titleResp {
        font-size: 32px !important;
    }
    .subtitle {
        font-size: 15px !important;
    }
    .button {
        font-size: 20px !important;
    }
    .cityCards {
        width: 90vw !important;
        height: 60vw !important;
    }
    .imgCards {
        height: 42vw !important;
    }
    .labelCards {
        height: 18vw !important;
    }
}




.infoLog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

                    


.textCards {
    color: white;
    margin: 0 !important;
    font-weight: 500;
    padding: 1vw !important;
}

.tineraryCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.displayCard {
    background-color: rgba(126, 196, 165, 0.5);
    text-align: center;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textFooter {
    font-size: 17px !important;
    margin: 0;
}



                .linksCities {
                    display: inline-block;
                    padding: 10px !important;
                    font-size: 14px;
                    font-weight: 400 !important;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: rgb(33, 159, 148);
                    background-color: rgb(242, 245, 200);
                    border: none;
                    border-radius: 5px;
                }

.linksCities:hover {
    background-color: #c48e7e;
}

.logo {
    height: 60px;
    padding: 10px 0;
}

.buttonIndex {
    text-decoration: none !important;
}

.buttons {
    color:rgb(242, 245, 200) !important;
    background-color: rgb(33, 159, 148) !important;
}

.titleIndex {
    font-family: 'Festive', cursive !important;
    font-size: 45px !important;
    padding: 15px 10px 5px 0 !important;
}

a {
    text-decoration: none !important;
}

.onlyimgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 150px;
    height: 150px;
}

.onlyimgComment {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 75px;
    height: 75px;
}