                        @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

                        * {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                        }

                        .home {
                            width: 100%;
                            height: 100vh;
                            background-image: url('../../public/img/index.jpg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }

                        .backHome {
                            width: 100%;
                            height: 100%;
                        }


                        .flippy-container  {
                            width: 30%;
                            height: 30vh;
                            padding: 10px;
                        }

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
    background-position: center;
}

/* .colorMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(232, 232, 166, 0.6);
} */

/* .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 85% !important;
} */

.infoLog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

                    .festiveFont {
                        font-family: 'Festive', cursive !important;
                    }
                    .bigAnounce {
                        font-size: 50px !important
                    }
                    .fitImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover !important;
                    }
                    .shadows {
                        text-shadow: 0 0 1px black, 0 0 20px rgb(193, 222, 174), 0px 0px 20px rgb(242, 245, 200);
                    }

.textCard {
    padding: 0 0 6px 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.tineraryCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .displayCardFlex {
    padding: 2x;
    background-color: rgb(242, 245, 200);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.displayCard {
    background-color: rgb(242, 245, 200);
    text-align: center;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textFooter {
    font-size: 17px !important;
    margin: 0;
}

                .linksHero {
                    display: inline-block;
                    margin-top: 20px;
                    padding: 5px 15px;
                    font-size: 24px;
                    font-weight: 600 !important;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: rgb(242, 245, 200);
                    background-color: rgb(33, 159, 148);
                    border: none;
                    border-radius: 15px;
                    box-shadow: 0 9px #999;
                }

                .linksCities {
                    display: inline-block;
                    padding: 10px !important;
                    font-size: 14px;
                    font-weight: 400 !important;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: rgb(33, 159, 148);
                    background-color: rgb(242, 245, 200);
                    border: none;
                    border-radius: 5px;
                }

.linksHero:hover , .linksCities:hover {
    background-color: black;
    color: rgb(193, 222, 174);
}

.linksHero:active {
  background-color: rgb(193, 222, 174);
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.logo {
    height: 60px;
    padding: 10px 0;
}

.buttonIndex {
    text-decoration: none !important;
}

.buttons {
    color:rgb(242, 245, 200) !important;
    background-color: rgb(33, 159, 148) !important;
}

.titleIndex {
    font-family: 'Festive', cursive !important;
    font-size: 45px !important;
    padding: 15px 10px 5px 0 !important;
}

.titles {
    font-family: 'Festive', cursive !important;
    font-size: 40px !important;
    padding: 5px 10px 5px 0 !important;
}

/* .subtitles {
    font-size: 20px !important;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 5px;
} */

.continents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flippy-container {
    display: flex !important;
    margin: 0;
}

.MuiInput-root {
    margin: 10px 0 !important;
}

.MuiInput-input {
    background-color: white !important;
    text-align: center;
    margin-bottom: 5px !important;
}

.artCities {
    margin: 3px;
    background-color: rgb(193, 222, 174);
}

.onlyCard-text {
    width: 100% !important;
    height: 80vh !important;
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
}

.onlyCard-img {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 0.4;
}

.artCities:hover {
    background-color: rgb(33, 159, 148);
    margin: 0px;
    padding: 3px
}

.textCities {
    position: absolute;
    z-index: 1;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
    font-family: 'Festive', cursive;
    font-size: 35px;
    font-weight: 600;
}

.textCitiesReverse , .onlyCard-text {
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !;
    font-weight: 400;
}

.flippy-card {
    padding: 0 !important;
}

.imgCities {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 100%;
    opacity: 0.8;
}

.imgCities:hover {
    opacity: 0.7
}

.imgCitiesReverse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0.4;
}

.onlyimgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none !important;
}

@media only screen and (max-width: 300px) {
    .titleIndex {
        font-size: 30px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 15px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 10px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 20px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 175px !important;
        height: 109px !important;
    }
    .css-1f8sh1y{
        width: 180px !important;
        height: 465px !important;
    }
    .carousel {
        width: 180px !important;
        height: 485px !important;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .textCard {
        display: none;
    }
    .textFooter {
        font-size: 6px !important;
    }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
    .titleIndex {
        font-size: 35px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 25px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 12px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 25px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 275px !important;
        height: 109px !important;
    }
    .css-1f8sh1y{
        width: 280px !important;
        height: 465px !important;
    }
    .carousel {
        width: 280px !important;
        height: 485px !important;
    }
    .population {
        display: none;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .textFooter {
        font-size: 11px !important;
    }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
    .titleIndex {
        font-size: 35px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 30px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 12px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 30px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 375px !important;
        height: 109px !important;
    }
    .css-1f8sh1y{
        width: 380px !important;
        height: 465px !important;
    }
    .carousel {
        width: 380px !important;
        height: 485px !important;
    }
    .population {
        display: none;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .textFooter {
        font-size: 11px !important;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) { 
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 230px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 480px !important;
        height: 465px !important;
    }
    .carousel {
        width: 480px !important;
        height: 485px !important;
    }
    .textFooter {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 280px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 580px !important;
        height: 465px !important;
    }
    .carousel {
        width: 580px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 330px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 680px !important;
        height: 465px !important;
    }
    .carousel {
        width: 680px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 380px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 780px !important;
        height: 465px !important;
    }
    .carousel {
        width: 780px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 900px){
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 430px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 880px !important;
        height: 465px !important;
    }
    .carousel {
        width: 880px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 1400px){
}

