@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backHome {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
    background-position: center;
}

.colorMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(232, 232, 166, 0.6);
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

.textTitle {
    padding: 4px 0 0 0;
    margin: 0;
    font-family: 'Festive', cursive !important;
    font-size: 40px !important;
}
.textCard , .onlytextCard {
    padding: 0 0 6px 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
  
.textFooter {
    font-size: 17px !important;
    margin: 0;
}

.linksHero {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 24px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(242, 245, 200);
    background-color: rgb(33, 159, 148);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.linksCities {
    display: inline-block;
    margin: 5px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(33, 159, 148);
    background-color: rgb(242, 245, 200);
    border: none;
    border-radius: 5px;
}

.linksHero:hover , .linksCities:hover {
    background-color: black;
    color: rgb(193, 222, 174);
}

.linksHero:active {
  background-color: rgb(193, 222, 174);
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.logo {
    height: 60px;
    padding: 10px 0;
}

.buttonIndex {
    text-decoration: none !important;
}

.buttons {
    color:rgb(242, 245, 200) !important;
    background-color: rgb(33, 159, 148) !important;
}

.titleIndex {
    font-family: 'Festive', cursive !important;
    font-size: 45px !important;
    padding: 15px 10px 5px 0 !important;
}

.titles {
    font-family: 'Festive', cursive !important;
    font-size: 40px !important;
    padding: 5px 10px 5px 0 !important;
}

.subtitles {
    font-size: 20px !important;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.continents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flippy-container {
    display: flex !important;
    margin: 0;
}

.MuiInput-root {
    margin: 10px 0 !important;
}

.MuiInput-input {
    background-color: white !important;
    text-align: center;
    margin-bottom: 5px !important;
}

.artCities , .cityCard , .onlyCard {
    margin: 3px;
    background-color: rgb(193, 222, 174);
}

.onlyCard {
    width: 690px !important;
    height: 400px !important;
}

.onlyCard-text , .onlyCard-img {
    width: 690px !important;
    height: 400px !important;
}

.artCities:hover {
    background-color: rgb(33, 159, 148);
    margin: 0px;
    padding: 3px
}

.textCities {
    position: absolute;
    z-index: 1;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
    font-family: 'Festive', cursive;
    font-size: 35px;
    font-weight: 600;
}

.textCitiesReverse , .onlyCard-text {
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !;
    font-weight: 400;
}

.flippy-card {
    padding: 0 !important;
}

.allTheCards {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.imgCities {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 100%;
    opacity: 0.8;
}

.imgCities:hover {
    opacity: 0.7
}

.imgCitiesReverse , .onlyCard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 100%;
    opacity: 0.4;
}

a {
    text-decoration: none !important;
}

@media only screen and (max-width: 300px) {
    .titleIndex {
        font-size: 30px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 15px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 10px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 20px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 175px !important;
        height: 109px !important;
    }
    .onlyCard {
        width: 190px !important;
        height: 400px !important;
    }
    .onlyCard-text , .onlyCard-img {
        width: 190px !important;
        height: 400px !important;
    }
    .css-1f8sh1y{
        width: 180px !important;
        height: 465px !important;
    }
    .carousel {
        width: 180px !important;
        height: 485px !important;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .textCard {
        display: none;
    }
    .onlytextCard {
        padding: 0 0 6px 0;
        margin: 0;
        font-weight: 400;
        font-size: 10px;
    }
    .textFooter {
        font-size: 6px !important;
    }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
    .titleIndex {
        font-size: 35px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 25px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 12px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 25px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 275px !important;
        height: 109px !important;
    }
    .onlyCard {
        width: 290px !important;
        height: 400px !important;
    }
    .onlyCard-text , .onlyCard-img {
        width: 290px !important;
        height: 400px !important;
    }
    .css-1f8sh1y{
        width: 280px !important;
        height: 465px !important;
    }
    .carousel {
        width: 280px !important;
        height: 485px !important;
    }
    .population {
        display: none;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .onlytextCard {
        padding: 0 0 6px 0;
        margin: 0;
        font-weight: 400;
        font-size: 13px;
    }
    .textFooter {
        font-size: 11px !important;
    }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
    .titleIndex {
        font-size: 35px !important;
        padding: 15px 4px 2px 0 !important;
    }
    .titles {
        font-size: 30px !important;
        padding: 2px 4px 2px 0 !important;
    }
    .subtitles {
        font-size: 12px !important;
        margin-top: 2px;
    }
    .textCities {
        font-size: 30px;
    }    
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 375px !important;
        height: 109px !important;
    }
    .onlyCard {
        width: 390px !important;
        height: 400px !important;
    }
    .onlyCard-text , .onlyCard-img {
        width: 390px !important;
        height: 400px !important;
    }
    .css-1f8sh1y{
        width: 380px !important;
        height: 465px !important;
    }
    .carousel {
        width: 380px !important;
        height: 485px !important;
    }
    .population {
        display: none;
    }
    .textTitle {
        font-size: 25px !important;
    }
    .textFooter {
        font-size: 11px !important;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) { 
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 230px !important;
        height: 225px !important;
    }
    .onlyCard {
        width: 490px !important;
        height: 400px !important;
    }
    .onlyCard-text , .onlyCard-img {
        width: 490px !important;
        height: 400px !important;
    }
    .css-1f8sh1y{
        width: 480px !important;
        height: 465px !important;
    }
    .carousel {
        width: 480px !important;
        height: 485px !important;
    }
    .textFooter {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 280px !important;
        height: 225px !important;
    }
    .onlyCard {
        width: 590px !important;
        height: 400px !important;
    }
    .onlyCard-text , .onlyCard-img {
        width: 590px !important;
        height: 400px !important;
    }
    .css-1f8sh1y{
        width: 580px !important;
        height: 465px !important;
    }
    .carousel {
        width: 580px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 330px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 680px !important;
        height: 465px !important;
    }
    .carousel {
        width: 680px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 380px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 780px !important;
        height: 465px !important;
    }
    .carousel {
        width: 780px !important;
        height: 485px !important;
    }
}
@media only screen and (min-width: 900px){
    .artCities , .cityCard , .textCities , .textCitiesReverse , .imgCities , .imgCitiesReverse {
        width: 430px !important;
        height: 225px !important;
    }
    .css-1f8sh1y{
        width: 880px !important;
        height: 465px !important;
    }
    .carousel {
        width: 880px !important;
        height: 485px !important;
    }
}

