@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.main-back {
    background-image: url('../../public/img/background.jpg');
    background-size: cover;
    background-position: center;
}

.main-back-log {
    background-image: url('../../public/img/backgroundLog.jpg');
    background-size: cover;
    background-position: center;
}

.main-back-sign {
    background-image: url('../../public/img/backgroundSign.jpg');
    background-size: cover;
    background-position: center;
}

.shadows {
    text-shadow: 0 0 1px white, 0 0 10px white, 0px 0px 10px white;
}

.fredokaFont {
    font-family: 'Fredoka', sans-serif !important;
}

.festiveFont {
    font-family: 'Festive', cursive !important;
}

.linksHero {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    font-weight: 600 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(165, 126, 196);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px white;
}
.linksHero:active {
    transform: translateY(4px);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 1;
}

.fitImg {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.bigAnounce {
    font-size: 50px !important
}

@media only screen and (max-width: 700px) {
    .wrapCarousel {
        flex-wrap: wrap !important;
        width: 85vw !important;
        height: 18vh !important;
    }
}
@media only screen and (max-width: 500px) {
    .title {
        font-size: 50px !important;
    }
    .titleResp {
        font-size: 32px !important;
    }
    .subtitle {
        font-size: 15px !important;
    }
    .button {
        font-size: 20px !important;
    }
    .footer {
        font-size: 12px !important;
    }
    .cityCards {
        width: 90vw !important;
        height: 60vw !important;
    }
    .imgCards {
        height: 42vw !important;
    }
    .labelCards {
        height: 18vw !important;
    }
    .textCards {
        font-size: 10vw !important;
    }
}




.infoLog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

                    


.textCard {
    padding: 0 0 6px 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.tineraryCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.displayCard {
    background-color: rgba(126, 196, 165, 0.5);
    text-align: center;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textFooter {
    font-size: 17px !important;
    margin: 0;
}



                .linksCities {
                    display: inline-block;
                    padding: 10px !important;
                    font-size: 14px;
                    font-weight: 400 !important;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    color: rgb(33, 159, 148);
                    background-color: rgb(242, 245, 200);
                    border: none;
                    border-radius: 5px;
                }

.linksCities:hover {
    background-color: #c48e7e;
}

.logo {
    height: 60px;
    padding: 10px 0;
}

.buttonIndex {
    text-decoration: none !important;
}

.buttons {
    color:rgb(242, 245, 200) !important;
    background-color: rgb(33, 159, 148) !important;
}

.titleIndex {
    font-family: 'Festive', cursive !important;
    font-size: 45px !important;
    padding: 15px 10px 5px 0 !important;
}

/* .subtitles {
    font-size: 20px !important;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 5px;
} */

/* .continents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.flippy-container {
    display: flex !important;
    margin: 0;
}

.MuiInput-root {
    margin: 10px 0 !important;
}

.MuiInput-input {
    background-color: white !important;
    text-align: center;
    margin-bottom: 5px !important;
}

.artCities {
    margin: 5px; /* cambiar a 10 */
}

.onlyCard-text {
    width: 100% !important;
    height: 80vh !important;
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
}

.onlyCard-img {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 0.4;
}

.textCities {
    position: absolute;
    z-index: 1;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
    font-family: 'Festive', cursive;
    font-size: 35px;
    font-weight: 600;
}

.textCitiesReverse , .onlyCard-text {

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !;
    font-weight: 400;
}

.flippy-card {
    padding: 0 !important;
}

.imgCities {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 100%;
    opacity: 0.8;
}

.imgCities:hover {
    opacity: 0.7
}

.imgCitiesReverse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0.4;
}

.onlyimgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover !important;
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none !important;
}

